 body {
     margin-top: 10px;
     /* width: 70%; */
     /* align-items: center; */
 }

 #row1 {
     text-align: center;
     background: linear-gradient(rgb(248, 47, 248), rgb(37, 6, 55));
     /* width: 70%; */
     margin: auto;
     color: white;
     border-radius: 0px 40px 0px 40px;
 }

 .sub-container {
     padding: 10px 20px;
     border-radius: 5px solid black;
     border-radius: 2px;
 }

 /* .container {
     width: 0%;
     border: 3px solid black;
     background-color: #C499F3;

 } */

 .get-Info {
     padding: 0 60px;
     margin-top: 20px;
     /* width: 70%; */
 }

 #get-info-user {
     border: 3px solid black;
     padding: 10px 40px;
     margin: 10px 30px;
     background: linear-gradient(to right, #34186baf, rgba(147, 27, 147, 0.605));
     color: #FFFFFF;
     font-size: 16px;
     box-shadow: 0px 5px 20px 1px black;

 }

 .inputtypes {
     margin-bottom: 30px;
     /* margin-left: 30px; */
     padding: 0px 80px;
 }

 .inputtypes label {
     margin-top: 10px;
 }

 .inputtypes input {
     /* margin-left: 30px; */
     width: 90%;
     padding: 10px;
     box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.854);

 }

 .button-48 {
     appearance: none;
     background: linear-gradient(purple, rgb(37, 6, 55));
     border-width: 0;
     color: #ffffff;
     cursor: pointer;
     display: inline-block;
     font-family: Clarkson, Helvetica, sans-serif;
     font-size: 18px;
     font-weight: 500;
     /* margin: 0; */
     opacity: 1;
     /* outline: 0; */
     padding: 0.7em 2em;
     position: relative;
     text-align: center;
     /* text-decoration: none; */
     /* text-rendering: geometricprecision; */
     text-transform: uppercase;
     /* transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1); */
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     white-space: nowrap;
     margin-top: 10px;
     border-radius: 0px 40px 0px 40px;
     background-position-x: 0%;

 }

 .button-48:hover {
     background-position-x: 100%;
     transform: scale(0.9);
     border-radius: 20px 0px 10px 0px;
 }


 #Profile img {
     margin-top: 20px;
     width: 50%;
     align-items: center;
     height: 72%;
     border: 3px solid black;
     /* background: url(blank\ profile.png); */
     background-repeat: no-repeat;
     background-size: cover;
     /* background-position: center;  */
     box-shadow: 0px 5px 20px 1px black;
 }

 input::file-selector-button {
     padding: 1px 8px;
     height: 50px;
     background: linear-gradient(purple, rgb(37, 6, 55));
     border-radius: 0px 10px 0px 10px;
     color: #FFFFFF;
     /* background-position-x: 0%; */
     font-size: 16px;
     font-weight: 500;
     /* margin-top: 60px; */
 }

 input::file-selector-button:hover {
     /* background-position-x: 100%; */
     transform: scale(0.9);
     border-radius: 0px 20px 0px 10px;
 }

 .data-display {
     width: 95%;
     border: 1px solid black;
     border-collapse: collapse;
     cursor: pointer;
     margin: 0px 25px;
     overflow-y: scroll;
     scrollbar-color: black;
     /* height: 20%; */
     /* display: flex;
     justify-content: center;
     align-items: center; */
 }

 .data-display table tr th {
     border: 1px solid black;
     padding: 3px;
     margin-left: 45px;
     background-color: darkorchid;
     color: #ffffff;
     text-align: center;
     text-align: center;
 }

 .data-display table tr th td {
     border: 2px solid #000;
     padding: 2px;
     text-align: center;
     display: flex;
     justify-content: center;
 }

 .data-display table tr th td:hover {
     background-color: darkkhaki;
     cursor: pointer;
 }

 .select1 {
     width: 90%;
     margin-top: 20px;
     padding: 10px;
 }

 #select1 option:hover {
     background-color: darkorchid;
     color: #FFFFFF;
 }